{% extends 'base.html' %}
{% block content %}
<div class="vh-100 px-0 bg-black" ) >
   <div class="container  bg-black text-light">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 class=" mt-4">Change Password</h2>
                <div class="profile-update-form mt-4">
                    <form method="post" action="{{ url_for('change_Password') }}">
                        <div class="mb-5 col-md-8 ">
                                <input type="Password" class="form-control bg-dark text light custom-placeholder " id="old_Password" name="old_Password" placeholder="Current Password*" required>
                        </div>
                        <div class="mb-5 col-md-8">
                            <input type="password" class="form-control bg-dark text light  custom-placeholder" id="new_Password" name="new_Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}" placeholder="New Password*" required title="Password must be at least 8 characters long, including an uppercase letter, a lowercase letter, a number, and a special character.">
                        </div>
                        <div class="mb-5 col-md-8 ">
                            <input type="Password" class="form-control bg-dark text light  custom-placeholder" id="confirm_Password" name="confirm_Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}"  placeholder="Confirm New Password*" required title="Password must be at least 8 characters long, including an uppercase letter, a lowercase letter, a number, and a special character.">
                        </div>
                        <div class="mb-5 col-md-8 ">
                            <div class="col-sm-8">    
                                <button type="submit" class="col-sm-6 btn btn-danger">Change Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
{% endblock %}
