{% extends 'base.html' %}
{% block content %}
<div class="vh-100 px-0 page-background" ) >
    <!-- Welcome Message -->
     <div class="row mb-3 w-100" >
        <div class="col text-center text-secondary " >
            <h1>Welcome Dashboard, {{ user_info.Username }}!</h1>
        </div>
    </div> 

    <!-- Buttons for Different Actions -->
    <div class="row mt-4 justify-content-center">
        <div class="col-auto mt-4 mb-4">
            <!-- Profile Management -->
            <a href="{{ url_for('manage_profile') }}" class="btn btn-dark" style="width: 200px;">Manage Profile</a>
        </div>
        <div class="col-auto mt-4 mb-4">
            <!-- Browse Holiday Houses -->
            <a href="{{ url_for('Movie') }}" class="btn btn-dark"style="width: 200px;">View Movies</a>
        </div>
        <div class="col-auto mt-4 mb-4">
            <!-- View My Booking -->
            <a href="{{ url_for('my_bookings') }}" class="btn btn-dark"style="width: 200px;">My Bookings</a>
        </div>
    </div>

    <!-- Other customer-related content -->
</div>

{% endblock %}
