{% extends 'base.html' %}

{% block content %}
<body>
    <div class="container mt-5 text-light">      
        <div>     
            <a href="{{ url_for('movie_sales_report_page') }}" class="btn btn-outline-light me-5">Movie Sales Report</a> 
            <a href="{{ url_for('ticket_type_report_page') }}" class="btn btn-outline-light me-5">Ticket Type Report</a>
            <a href="{{ url_for('top_customers_report_page') }}" class="btn btn-outline-light me-5">Top Customers Report</a>
            <!--<a href="{{ url_for('sales_report_page') }}" class="btn btn-outline-light me-5">Sales Report</a>-->
        </div>  
        <h2 class="mb-4 mt-4">Ticket Type Report</h2>

        <!-- 票型占比图表区域 -->
        <div class="row">
            <div class="col-6">
                <canvas id="ticketTypeChart"></canvas>
            </div>
        </div>
    </div>

    <!-- JavaScript 部分 -->
    <script>
        // 当文档加载完成时
        document.addEventListener('DOMContentLoaded', function () {
            
            // 获取票型数据
            fetch('/ticket-type-report')
                .then(response => response.json())
                .then(data => {
                    // 在这里使用 data 来创建票型占比图表
                    var ctxTicket = document.getElementById('ticketTypeChart').getContext('2d');
                    var ticketTypeChart = new Chart(ctxTicket, {
                        type: 'pie',
                        data: {
                            labels: data.map(item => item.Type),
                            datasets: [{
                                labels: data.map(item => item.Type),
                                data: data.map(item => item.TicketCount),
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.5)',
                                    'rgba(54, 162, 235, 0.5)',
                                    'rgba(255, 206, 86, 0.5)',
                                    'rgba(75, 192, 192, 0.5)',
                                    'rgba(153, 102, 255, 0.5)'
                                ]
                            }]
                        },
                        options: {
                            plugins: {
                                legend: {
                                    labels: {
                                        color: 'white'  // 改变图例标签的颜色为白色
                                    }
                                }
                            },
                            tooltips: {
                                titleFontColor: 'white', // 工具提示标题颜色
                                bodyFontColor: 'white',  // 工具提示正文颜色
                                borderColor: 'white',    // 工具提示边框颜色
                                borderWidth: 1           // 工具提示边框宽度
                            }
                        }
                    });
                });
        });
    </script>
</body>
{% endblock %}
